@import "tailwindcss" source(none);

@source "../pages";
@source "../static/js";

@view-transition {
    transition: auto;
}

::view-transition-group(*) {
    animation-duration: 500ms;
}

::view-transition-old(root) {
    animation: to-blurred 500ms forwards;
}

::view-transition-new(root) {
    animation: to-blurred 500ms backwards;
}

@keyframes to-blurred {
    from {
        filter: blur(0)
    }
    to {
        filter: blur(8px)
    }
}

@theme {
    /* Google Fonts */
    --font-inter: "Inter", sans-serif;
    --font-boldonse: "Boldonse", system-ui;
    
    /* Default overrides */
    --default-transition-duration: 400ms;
    --default-font-family: var(--font-inter);

    /* Base Colors */
    --color-base-100: var(--color-stone-100);
    --color-base-400: var(--color-stone-400);
    --color-base-500: var(--color-stone-500);
    --color-base-600: var(--color-stone-600);
    --color-base-900: var(--color-stone-900);

    /* Animation / GSAP */
    --mixtitle-blur: 0px;
}

@import "./header.css";
@import "./base-utilities.css";

@layer base {
    /* BODY */
    body {
        @apply
            relative
            font-inter
            bg-base
            text-base;
    }
    .debug {
        @apply
            bg-blue-500/15
            border
            border-fuchsia-500/50;
    }
}

@layer components {
    .glass-blur {
        @apply
            backdrop-blur
            bg-base-900/30;
    }
    .cromatic-blend {
        @apply mix-blend-screen;
    }
}
