/* GENERAL: CLASS TAGS */

.cont-m {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.cont-l {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}
