@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Default overrides */
    --default-transition-duration: 400ms;
    
    /* Google Fonts */
    --font-inter: "Inter", sans-serif;
    --font-boldonse: "Boldonse", system-ui;

    /* Base Colors */
    --color-light-100: var(--color-stone-100);
    --color-light-900: var(--color-stone-900);
    --color-dark-100: var(--color-neutral-100);
    --color-dark-900: var(--color-neutral-900);
}

@import "./header.css";

@layer base {
    .bg-base {
        @apply bg-light-100 dark:bg-dark-900;
    }
    .text-base {
        @apply text-light-900 dark:text-dark-100;
    }
    .debug {
        @apply
            bg-blue-500/15
            border
            border-fuchsia-500/50;
    }
}

@layer components {
    /* BODY */
    .body {
        @apply
            relative
            font-inter
            bg-light-100 dark:bg-dark-900
            text-light-900 dark:text-dark-100;
    }
}
