<div class="absolute w-screen h-screen -z-50 overflow-hidden bg-black">
    <div class="absolute w-full h-full bg-[#F00]"></div>
    <img class="absolute w-full h-full object-cover mix-blend-multiply scale-[105%] translate-x-1 translate-y-0.5"
        src="{{ bgImageLink }}" alt="background image">
</div>
<div class="absolute w-screen h-screen -z-50 overflow-hidden mix-blend-screen">
    <div class="absolute w-full h-full bg-[#0F0]"></div>
    <img class="absolute w-full h-full object-cover mix-blend-multiply scale-[105%]"
        src="{{ bgImageLink }}" alt="background image">
</div>
<div class="absolute w-screen h-screen -z-50 overflow-hidden mix-blend-screen">
    <div class="absolute w-full h-full bg-[#00F]"></div>
    <img class="absolute w-full h-full object-cover mix-blend-multiply scale-[105%] -translate-x-1 -translate-y-0.5"
        src="{{ bgImageLink }}" alt="background image">
</div>
