<footer class="px-6 md:px-12 font-light text-dimmed py-24 text-xl">
    <p class="mb-4">Thank you for visiting my portfolio!</p>
    <p class="">©Ezenicofogar 2025</p>
    <p class="max-w-6xl">Created using
        <a href="https://tailwindcss.com/" class="font-bold hover:text-base-100 transition-colors">Tailwind</a>
        for styles,
        <a href="https://www.11ty.dev/" class="font-bold hover:text-base-100 transition-colors">Eleventy</a>
        for content management,
        <a href="https://gsap.com/" class="font-bold hover:text-base-100 transition-colors">GSAP</a>
        for animations and
        <a href="https://lenis.darkroom.engineering/" class="font-bold hover:text-base-100 transition-colors">Lenis</a>
        for smooth scrolling.</p>
</footer>