<header class="fixed p-4 w-screen max-md:h-screen">
    <div id="headerOpenBtn" class="absolute glass-blur p-2 rounded-lg cursor-pointer hover:text-dimmed">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="transition-colors">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 6h10" />
            <path d="M4 12h16" />
            <path d="M7 12h13" />
            <path d="M4 18h10" />
        </svg>
    </div>
    <div id="header" class="flex flex-col-reverse md:flex-row glass-blur p-4 md:p-2 rounded-lg w-full
            max-md:h-full md:h-12 justify-between md:items-center">
        <h1 class="text-4xl md:text-2xl font-bold pl-1 cursor-pointer hover:text-dimmed transition-colors">
            Portfolio
        </h1>
        <nav>
            <ul class="flex flex-col md:flex-row gap-1 md:gap-5 p-1 text-2xl">
                <li class="cursor-pointer hover:text-dimmed transition-colors">
                    Home
                </li>
                <li class="cursor-pointer hover:text-dimmed transition-colors">
                    Projects
                </li>
                <li class="cursor-pointer hover:text-dimmed transition-colors">
                    Tech
                </li>
                <li class="cursor-pointer hover:text-dimmed transition-colors">
                    Contact
                </li>
            </ul>
        </nav>
        <div id="headerCloseBtn" class="cursor-pointer hover:text-dimmed">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="transition-colors md:hidden">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="transition-colors max-md:hidden">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" />
                <path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" />
                <path d="M3 3l18 18" />
            </svg>
        </div>
    </div>
</header>
<script>
    (()=>{
        const header = document.getElementsByTagName("header")[0];
        const toggler = ()=>{ header.classList.toggle("header-closed"); };
        if (window.innerWidth < 768) { toggler(); }
        document.getElementById("headerCloseBtn").addEventListener("click", toggler);
        document.getElementById("headerOpenBtn").addEventListener("click", toggler);
    })();
</script>