<div class="relative h-[100svh] flex flex-col justify-end">
    <div id="title-x" class="relative pointer-events-none text-[20vw] md:text-[12vw] px-[0.4em] py-[0.3em] mix-blend-screen font-boldonse blur-[var(--mixtitle-blur)]">
        <h1 class="mixtitle-r text-[#d00] cromatic-blend blur-[1px] absolute">
            <p class="max-md:hidden">{{ pageTitleText }}</p>
            <p class="md:hidden">{{ pageTitleTextL1 }}</p>
            <p class="md:hidden">{{ pageTitleTextL2 }}</p>
        </h1>
        <h1 class="mixtitle-g text-[#0d0] cromatic-blend blur-[1px] absolute">
            <p class="max-md:hidden">{{ pageTitleText }}</p>
            <p class="md:hidden">{{ pageTitleTextL1 }}</p>
            <p class="md:hidden">{{ pageTitleTextL2 }}</p>
        </h1>
        <h1 class="mixtitle-b text-[#00d] cromatic-blend blur-[1px]">
            <p class="max-md:hidden">{{ pageTitleText }}</p>
            <p class="md:hidden">{{ pageTitleTextL1 }}</p>
            <p class="md:hidden">{{ pageTitleTextL2 }}</p>
        </h1>
    </div>
</div>
<script type="module" src="/static/js/GsapTitleAnimation.js"></script>