<div id="title-x" class="relative text-[11vw] pl-8 py-[1em] font-boldonse blur-[var(--mixtitle-blur)]">
    <h1 class="mixtitle-r text-[#ff0] dark:text-[#f00] cromatic-blend blur-[1px] absolute">
        {{ pageTitleText }}
    </h1>
    <h1 class="mixtitle-g text-[#f0f] dark:text-[#0f0] cromatic-blend blur-[1px] absolute">
        {{ pageTitleText }}
    </h1>
    <h1 class="mixtitle-b text-[#0ff] dark:text-[#00f] cromatic-blend blur-[1px]">
        {{ pageTitleText }}
    </h1>
</div>
<script type="module" src="/static/js/GsapTitleAnimation.js"></script>